.banner{
  background-position: center;
  background-size: cover;
  object-fit: cover;
  padding: 100px 0;
  opacity: 0.8;
  text-align: center;
}

.banner-conteiner{
  width: 900px;
  margin: 50px auto;

}

.banner-conteiner h1{
  color: #3B7D56;
  font-size: 100px;
  text-shadow: 1px 1px 2px white;

}

.banner-conteiner p{
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
  padding-bottom: 20px;
}

